/*
===============  
google fonts
=============== 
 */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

/*
=============== 
Variables
===============
*/

:root {
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 85%;
    --fixed-width: 620px;
    --text-color: #fff;
    --border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/*
=============== 
Global Styles
===============
*/
html {
  overflow-x: hidden;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
font-family: 'Raleway', sans-serif;
}
.container {
    width: var(--max-width);
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}
input, button {
  cursor: pointer;
  border: none;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}
input:focus,
select:focus {
  outline: none;
}

/* Google Maps */
.maps {
  width: 100vw;
  height: 40vh;
}


/* job filter */

.job-filter {
    background-color: white;
    box-shadow: var(--light-shadow);
    min-height: 100px;
    position: relative;
    margin-bottom: 50px; 
}
.job-filter .section-filter {
    padding: 10px 15px;
    background-color: var(--text-color);
    font-size: 1.2rem;
    border: none;
    font-weight: 300;
    margin-bottom: 10px;
    position: absolute;
    top: -42px;
    left: 0;
}
.job-filter .resume {
    position: absolute;
    left: 108px;
    background-color: #000;
    color: var(--text-color);
}
.job-filter form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.job-filter form div {
    margin: 25px 0;
}
.job-filter form .job {
  position: relative;
}
.job-filter form .job::after {
  content: '';
  position: absolute;
  top: -32px;
  right: -35px;
  width: 1px;
  height: 124px;
  background-color: rgba(199, 194, 194, 0.505);
}
.job-filter form .location {
  position: relative;
}
.job-filter form .location::after {
  content: '';
  position: absolute;
  top: -32px;
  right: -35px;
  width: 1px;
  height: 124px;
  background-color: rgba(199, 194, 194, 0.505);
}
.job-filter form .job-select {
  position: relative;
}
.job-filter form .job-select::after {
  content: '';
  position: absolute;
  top: -32px;
  right: -35px;
  width: 1px;
  height: 124px;
  background-color: rgba(199, 194, 194, 0.505);
}
.job-filter form label {
    display: block;
    margin-bottom: 5px;
}
.job-filter form .job-input {
    width: 210px;
    padding: 10px; 
    border: 1px solid #eee;
}
.job-filter form .btn-search {
    width: 220px;
    padding: 15px;
    margin-top: 23px;
    background-color: #000;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    border: none;
}
.job-filter form .job-select select option{
  padding-bottom: 10px;
  font-size: 16px;
}
@media screen and (max-width: 1344px) {
  .job-filter form .job::after,
  .job-filter form .location::after,
  .job-filter form .job-select::after{
    content: none;
  }
  .job-filter form input,
  .job-filter form select {
    width: 180px;
  }
.job-filter form .btn-search {
    width: 210px;
}
}
@media screen and (max-width: 1170px) {
  .job-filter form {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .job-filter form div {
    width: calc(100% / 3);
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .job-filter form .job {
    margin-left: 10px;
  }
  .job-filter form .job-select {
    margin-left: 10px;
  }
  .job-filter form .btn-search {
    width: 210px;
    font-size: 16px;
    letter-spacing: 2px;
  }
  .job-filter .section-filter {
    padding: 10px 15px;
    font-size: 1rem;
  }
  .job-filter .resume {
    left: 96px;
  }
}
@media screen and (max-width: 587px) {
  .job-filter {
    min-height: min-content;
  }
  .job-filter  form{
    display: flex;
  }
  .job-filter form  div {
    width: 100%;
  }
  .job-filter form div label {
    margin-left: 45px;
  }
  .job-filter form div .job-input {
    width: 80%;
    display: block; 
    padding: 15px;
    margin: auto;
  }
  .job-filter form .location {
    margin-left: 12px;
  }
  .job-filter form div .btn-search {
    width: 100%;
    margin-bottom: 0;
    font-size: larger;
  }
}



/* Jobs section */

.job-show {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(6, auto);
  margin-bottom: 80px;
  gap: 15px;
}
.job-container {
  grid-column: span 2;
  grid-row: span 6;
  border: 1px solid #eee;
  border-top: none;
  padding: 15px 0 15px 15px;
  margin-right: 20px;
}
.job-item {
  display: grid;
  grid-template-columns: repeat(12, auto);
  gap: 1rem;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  padding-top: 10px;
}
.job-item:not(:first-of-type):after {
  content: '';
  position: absolute;
  top: 0;
  left: -16px;
  height: 1px;
  width: 102.3%;
  background-color: #eee;
}
.job-img {
  display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 8px;
}
.job-img img {
    width: 100%;
    object-fit: cover;
}
.job-info {
  grid-column: span 3;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}
.job-item .job-more-info .job-type,
.job-item .job-more-info .job-typeo, 
.job-item .job-more-info .job-typey, 
.job-item .job-more-info .job-typeb,
.job-item .job-more-info .job-typef {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  padding: 3px 5px;
  margin-right: -25px;
}
.job-item .job-more-info .job-type {
  background-color: #42d29d;
  margin-right: -100px;
}
.job-item .job-more-info .job-typeo {
  background-color: #ea4e37;
  margin-right: -63px;
}
.job-item .job-more-info .job-typey {
  background-color: #e1c73e;
  margin-right: -100px;
}
.job-item .job-more-info .job-typeb {
  background-color: #30cfda;
  margin-right: -170px;
}
.job-item .job-more-info .job-typef {
  background-color: #3066da;
  margin-right: -100px;
}

.job-info .job-company {
  display: inline-block;
  margin-right: 10px;
}
.job-more-info {
 grid-column: span 5;
 display: flex;
 margin-top: 7px;
}
.job-more-info .job-loc {
  margin-right: 20px;
}
.job-more-info .time-icon {
  margin-top: 3px;
  margin-right: 4px;
}
.job-more-info .job-time {
  margin-right: 20px;
}
.job-container .btn-load-div {
  position: relative;
  padding-top: 10px;
}
.btn-load-div::after {
  content: '';
  position: absolute;
  top: 0;
  left: -16px;
  height: 1px;
  width: 102.3%;
  background-color: #eee;
}
.btn-load {
  display: block;
  padding: 18px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  text-transform: uppercase;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
}
/*
============
Media Query
============
*/
@media screen and (max-width: 1280px)  {
  .job-item .job-info  h4 {
    font-size: 14px;
  }
   .job-item .job-info span {
     font-size: 13px;
   }
  .job-item .job-more-info {
    font-size: 13px;
  }
  .job-item .job-more-info .job-type,
  .job-item .job-more-info .job-typeo, 
  .job-item .job-more-info .job-typey, 
  .job-item .job-more-info .job-typeb, 
  .job-item .job-more-info .job-typef {
    font-size: 14px;
  }
}
@media screen and (max-width: 1190px) {
  .job-show {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 12px;
  }
  .job-container {
    grid-column: span 3;
  }
  .job-container .job-info h4 {
    font-size: 13px;
  }
  .job-container .job-info span {
    font-size: 11px;
  }
  .job-container .job-more-info {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
  }
  .job-container .job-more-info .job-time,
  .job-container .job-more-info .job-loc{
    font-size: 11px;
  }
  .job-item .job-more-info .job-type,
  .job-item .job-more-info .job-typeo, 
  .job-item .job-more-info .job-typey, 
  .job-item .job-more-info .job-typeb,
  .job-item .job-more-info .job-typef {
    margin-right: 0;
  } 
  .part-two {
    grid-column: span 1;
  }
  .part-two .head-search {
    font-size: 14px;
  }
  .part-two form  label{
    font-size: 13px;
  }
  .slider-container .carousel {
    width: calc(100% / 4);
  }
}
@media screen and (max-width: 587px) {
  .job-show .job-container {
    grid-column: span 4;
    width: 100%;
  }
  .job-container .job-item {
    display: flex;
    flex-wrap: wrap;
  }
  .job-container .job-img {
    width: 20%;
  }
  .job-container .job-img img{
    width: 100%;
  }
  .job-container .job-info {
    width: 60%;
  }
  .job-container .job-info .job-title {
    font-size: 1rem;
  }
  .job-container .job-more-info {
    width: 90%;
    margin: auto;
    margin-left: 10px;
  }
  .job-container .job-more-info .job-type,
  .job-container .job-more-info .job-typeo,
  .job-container .job-more-info .job-typey,
  .job-container .job-more-info .job-typeb,
  .job-container .job-more-info .job-typef{
    font-size: 12px;
    padding: 5px 3px;
    height: min-content;
    margin-top: -7px;
  }
}

/* X-small Screen */
@media screen and (max-width: 500px) {
  
}


/* Start Search Section */

.part-two {
  grid-column: span 1;
  border: 1px solid #eee;
  margin: -78px 0;
  padding: 20px 15px;
}
.part-two .head-search {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}
.part-two .head-search::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -16px;
  width: 114%;
  height: 1px;
  background-color: rgba(199, 194, 194, 0.505);
}
.part-two .head-search .search-icon {
  margin: 12px 18px;
}
.part-two .head-search h4 {
  padding: 10px 24px 20px;
  position: relative;
}
.part-two .head-search h4::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 1px;
  height: 69px;
   background-color: rgba(199, 194, 194, 0.505);

}
.part-two form div {
  margin-bottom: 25px;
}
.part-two form .job-input,
.part-two form label {
  display: block;
  margin: auto;
}
.part-two form label {
  margin: 7px 17px;
  font-size: 1.1rem;
  font-weight: 500;
}
.part-two form .job-input {
  padding: 8px;
  width: 90%;
  border: 1px solid #eee;

}
.part-two form select:focus {
  outline: none;
}
.part-two form select option {
  margin-bottom: 10px;
  font-size: 1rem;
}
.part-two .contaract {
  margin-top: 25px;
}
.contaract .dropdown {
  margin-bottom: 30px;
  width: 100% ;
}
.contaract button {
  width: 95%;
  display: block;
  margin: auto;
  padding: 15px;
  padding-left: 10px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: var(--text-color);
  background-color: #000;
  font-weight: 300;
  text-transform: uppercase;
}
.contaract button .icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-top: 10px;
}

/* 
==============
Media Quirey
==============
*/
@media screen and (max-width: 587px) {
  .part-two {
    margin-top: 50px;
    grid-column: span 4;
    margin-bottom: 20px;
  }
  .part-two .head-search::after {
    width: 108%;
  }
  .part-two .head-search h4::before {
    height: 65px;
  }

}

/* Filter Buttons */

.btn-container {
  margin-bottom: 0px;
  padding-left: 20px;
  padding-top: 10px ;
  width: 70.8%;
  border: 1px solid #eee;
  border-bottom: none;
  background-color: #eee;
}
.btn-container .filter-category {
  padding: 15px 18px 18px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
.btn-container .active {
  background-color: white;
}

/* 
=============
Media Query
=============
*/
@media screen and (max-width: 1310px) {
  .btn-container {
  width: 71.3%;
}
.btn-container .filter-category {
  font-size: .80rem;
  font-weight: 450;
}
}
@media screen and (max-width: 1280px)  {
  .btn-container {
      width: 68.29%;
}
}
@media screen and (max-width: 1190px) {
  .btn-container {
    width: 69.67%;
  }
  .btn-container .filter-category {
    padding: 12px 13px;
    font-size: .7rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 576px) {
  .btn-container {
    width: 100%;
  }
  .btn-container .filter-category {
    font-size: 1rem;
    padding: 12px 24px; 
  }
}
/* x-small Screen */
@media screen and (max-width: 500px) {
  .btn-container .filter-category {
    font-size: .86rem;
    font-weight: 500;
    padding: 12px 20px;
  }
}

/* job counts */

.jobCount {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(2, auto);
  gap: 60px 30px;
  margin-bottom: 50px;
}
.sec-left {
  grid-column: span 4;
  grid-row: span 1;
  display: flex;
  flex-wrap: wrap;
  align-items: inherit;
}
.sec-right {
  grid-column: span 2;
  grid-row: span 2;
}
.jobCount .sec-left .count-item {
  border: 1px solid #eee;
  width: calc(100% / 3);
  padding: 20px;
} 
.jobCount .sec-left .count-item .icon-count {
  float: left;
  font-size: 20px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  color: #5859d4;
}
.jobCount .count-item div {
  float: right;
} 
.jobCount .count-item h4 {
  font-size: 14px;
  margin-bottom: 10px;
}
.jobCount .count-item span {
  opacity: .9;
}

/* Social Section */

.jobCount .news {
  grid-column: span 2; 
  grid-row: span 1;
  background-color: #212224;
  color: var(--text-color);
}
.jobCount .news .head {
  display: flex;
  border-bottom: var(--border-bottom);
  position: relative;
}
.jobCount .news .head::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  color:rgb(45, 185, 138)
}
.jobCount .news .head .social-icon {
  margin: 24px 20px;
  width: 20px;
  height: 20px;
}
.jobCount .news .head h3 {
  font-size: 1.2rem;
  font-weight: 200;
  border-left: var(--border-bottom);
  padding-left: 23px;
  padding-top: 20px;
}
.jobCount .news .info p {
  width: 89%;
  padding: 23px 20px 23px 25px;
}
.jobCount .news .info input {
  display: block;
  width: 85%;
  margin: auto;
  padding: 12px;
  margin-bottom: 15px;
}
.jobCount .news .info button {
  width: 85%;
  padding: 13px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  color: var(--text-color);
  background-color: #4f52d3;
  font-size: 1.1rem;
  border: none;
}
.jobCount .twitter {
  grid-column: span 2; 
  grid-row: span 1;
  background-color: #3ebff6;
  color: var(--text-color);
  padding: auto 20px;
}
.jobCount .twitter .head {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.jobCount .twitter .head .social-icon {
  margin: 24px 20px;
  width: 20px;
  height: 20px;
}
.jobCount .twitter .head h3 {
  font-size: 1.2rem;
  font-weight: 200;
  border-left: var(--border-bottom);
  padding-left: 23px;
  padding-top: 20px;
}
.jobCount .twitter .info .acount {
  display: block;
  margin-top: 35px;
  margin-left: 30px;
  background-color: #000;
  padding: 0 18px;
  width: max-content;
}
.jobCount .twitter .info p {
  width: 90%;
  padding: 15px;
  margin: auto;
}
.jobCount .twitter .info h6 {
  display: block;
  padding: 20px;
}

/* 
===========
Media Query
===========
*/
@media screen and (max-width: 576px) {
  .jobCount {
    gap: 0;
  }
  .jobCount .sec-left {
    grid-column: span 5;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  .jobCount .sec-left .count-item  .icon-count{
    margin-left: 35px;
    float: none;
  }
  .jobCount .sec-left .count-item h4 {
    font-size: 14px;
    margin-top: 13px;
    margin-left: 10px;
    text-align: center;
  }
  .jobCount .sec-left .count-item span {
    font-size: 12px;
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  .jobCount .sec-right {
    grid-column: span 5;
    margin: auto;
    margin-bottom: 40px;
  }
  .jobCount .social-sec {
    grid-column: span 5;
    margin-bottom: 30px;
  }
}
/* x-small screen */
@media screen and (max-width: 500px) {
  .jobCount .sec-left .count-item {
    font-size: 0.8rem;
    text-align: center;
  }
  .jobCount .sec-left .count-item h4 {
    font-size: .76rem;
  }
  .jobCount .sec-left .count-item .icon-count {
    margin-left: 8px;
  }
  .jobCount .sec-left .count-item span {
    margin-left: 10px;
    margin-top: 10px;
  }
}

/* Featured Jobs */

.newjob-wrapper {
  width: min-content;
}
.newjob-wrapper .container-newjobs {
  border: 1px solid #eee;
  padding: 10px;
}
.newjob-wrapper h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}
.newjob-wrapper .new-jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newjob-wrapper .new-jobs .image {
  width: 310px;
  height: 220px;
  margin: 0;
}
.newjob-wrapper .new-jobs .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.newjob-wrapper .new-jobs .job-type,
.newjob-wrapper .new-jobs .job-typeo,
.newjob-wrapper .new-jobs .job-typey,
.newjob-wrapper .new-jobs .job-typeb{
  margin-top: -45px;
  margin-bottom: 30px;
  color: var(--text-color);
  padding: 7px;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-left: 10.30rem;
}
.newjob-wrapper .new-jobs .job-type {
  background-color: #42d29d;
}
.newjob-wrapper .new-jobs .job-typeo {
  background-color: #ea4e37;
}
.newjob-wrapper .new-jobs .job-typey {
  background-color: #e1c73e;
}
.newjob-wrapper .new-jobs .job-typeb {
  background-color: #30cfda;
}
.newjob-wrapper .new-jobs .company-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.newjob-wrapper .new-jobs .company-info div span {
  margin-left: 10px;
  margin-right: 12px;
  position: relative;
}
.newjob-wrapper .new-jobs .company-info div span::before {
  content: '';
  position: absolute;
  top: 4px;
  right: -8px;
  width: 2px;
  height: 14px;
  background-color: rgba(211, 204, 204, 0.59);
}
.newjob-wrapper .new-jobs .company-info div small {
  font-size: 14px;
  margin-top: auto;
}
.newjob-wrapper .new-jobs .text p {
  width: 90%;
  margin-left: 45px;
  margin-bottom: 40px;
}
.newjob-wrapper .new-jobs .time-sec {
  display: flex;
  font-size: 14px;
  margin-bottom: 30px;
  position: relative;
  margin-left: 7px ;
}
.newjob-wrapper .new-jobs .time-sec::after {
  content: "";
  position: absolute;
  top: 30px;
  left: -83px;
  width: 350px;
  height: 1px;
  background-color: #eee;
}
.new-jobs .time-sec .location {
  margin-right: 20px;
}
.location-icon {
  margin-right: 3px;
}
 .new-jobs .time-icon {
  margin-right: -10px;
}
.new-jobs .time-sec small:last-of-type {
  margin-left: 15px;
}
.newjob-wrapper .new-jobs .apply-sec {
  margin-bottom: 20px;
}
.newjob-wrapper .new-jobs .apply-sec .buttons {
  margin-right: -7px;
  float: left;
}
.newjob-wrapper .new-jobs .apply-sec .buttons  button{
  padding: 13px;
  margin-right: 3px;
}
.newjob-wrapper .new-jobs .apply-sec > button {
  float: right;
  padding: 15px 20px;
  text-transform: uppercase;
  background-color: #4f52d3;
  color: var(--text-color);
  margin-left: 10px;
}

/* carousel slider */

.slider {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #4f52d3;
  color: var(--text-color);
}
.slider span {
  font-weight: 300;
  text-transform: capitalize;
}
.slider h2 {
  font-size: 2rem;
  padding-top: 7px;
  margin-bottom: 20px;
}
.slider .underline {
  width: 30px;
  height: 2px;
  background-color: #000;
  margin: auto;
  margin-bottom: 20px;
}
.slider  .paragraph-slider {
  width: 45%;
  margin: auto;
  text-align: center;
  padding-bottom: 90px;
  line-height: 1.5;
}
.slider-container {
  display: inline-flex;
  margin-right: 20px;
  margin-left: 50px;
  margin-top: -100px;
  margin-bottom: 30px;
}
.slider-wrapper button {
  margin-top: -30px;
  background-color: transparent;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  transform: translateY(-99px);
  color: var(--text-color);
} 
.slider-wrapper button .icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;

}
.slider-container .image {
  width: 130px;
  height: 175px;
  margin-right: 35px;
  position: relative;
}
.slider-container .carousel .image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,130,170,0),rgba(54, 63, 66, .9));
  z-index: 1;
  transition: var(--transition);
}
.slider-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-container .carousel p {
  margin-top: -20px;
  margin-bottom: 30px;
  color: var(--text-color);
  font-size: 13px;
  margin-left: 15px;
  position: relative;
  z-index: 3;
  transition: var(--transition);
}
.slider-container .carousel h5 {
  font-size: 12px;
}
.slider-container .carousel small {
  margin-left: 10px;
}

/* 
============
Media Query
============
*/
@media screen and (max-width: 567px) {
  .slider h2 {
    font-size: 1.5rem;
  }
  .slider .paragraph-slider {
    width: 100%;
    font-size: 16px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .slider-container {
  display: inline-flex;
  margin-right: 20px;
  margin-left: 50px;
  margin-top: -100px;
  margin-bottom: 30px;
  display: none;
 }
 .slider-container .image {
   width: calc(96% / 2);
 }
 .slider-wrapper .btn-left {
   margin-right: auto;
   margin-top: 12px;
   display: block;
 }
 .slider-wrapper .btn-right{
   margin-left: auto;
   display: block;
 }
}